<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/Screenshot (232).png" alt="Laptop" width="473" height="316">
<p>Best photo taken by me while watching Vinland Saga</p>

<div class="pt-3">
  <p>This is a simple user management system developed as to gain more knowledge how backend works.</p>
  <p>Check out my <a href="https://github.com/niting7464" target="_blank"> github </a> and support me to grow more.</p>
</div>
